<h1>All Items</h1>
<table>
  <tr>
    <td>Title</td>
    <td>Nick</td>
    <td>Cid</td>
    <td></td>
  </tr>
  <% @items.each do |item|%>
  <tr>
    <td><%=item.title%></td>
    <td><%=item.nick%></td>
    <td><%=item.cid%></td>
    <td><%=link_to 'show',[:admin,item]%>&nbsp
    	<%=link_to 'edit',edit_admin_item_path(item)%>
    	<%=link_to 'delete',[:admin,item],confirm: 'are you sure',method: :delete%></td>
  <% end %>
</table>

<%=link_to 'new',new_admin_item_path%>